*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none}
ul li{ list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}





@font-face {
  font-family: 'Font Arial';
  src: local('Font Name'), 
	   url('/fonts/arial.woff') format('woff'),
	   url('/fonts/arial.ttf') format('ttf'),
	   /* url('/fonts/font.eot') format('eot'); */
}
body {
  font-family: 'Oswald', sans-serif;
}
.header__main--minilogo-tablet {
  display: none;
}
.header__main {
  padding: 11px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__main--burger {
  background: url(../img/icons/Logo_mobile.png) no-repeat;
  width: 24px;
  height: 20px;
}
.header__main--burger a {
  display: none;
}
.banner {
  color: white;
  background: url(../img/background-mobile.jpg) no-repeat;
  position: relative;
}
.banner__main {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 35px 25px; 
}
.tagline {
  padding: 0 60px 167px;
}
.banner__img-tablet {
  display: none;
}
.banner__img-mobile {
  position: absolute;
  top: 54%;
  left: 20px;
}
.button {
  margin: 135px 20px 10px;
  display: flex;
  justify-content: center;
}
.button button{
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #68B738;
  padding: 10px 70px;
  
  
}
.cards__weighloss {
  padding: 20px;
  margin: 20px;
  background: #F2F2F2;

}
.cards__weighloss--logo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  padding: 0 0 40px 75px;
  position: relative;
  
  
}
.cards__weighloss--logo::before {
  content: '';
  background: url(../img/cat_back.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 53px;
}
.cardsmass::before {
  background: url(../img/cat_backi.png) no-repeat;
}
.cards__weighloss--logo h2 {
  padding-top: 10px;
}
.cards__weighloss--text {
  font-family: 'Font Arial';
  font-size: 14px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 23px;
  border-bottom: none;
 
}
.cards__catalog {
 padding: 19px 19px 0 0 ;
 font-weight: 400;
 font-size: 16px;
 line-height: 16px;
 text-transform: uppercase;
}
.howwork {
  padding: 20px 20px 40px;
}
.howwork__logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 20px;
}
.howwork__punkts {
  font-family: 'Font Arial';
}
.howwork__punkts--text {
  padding: 4px 0 20px 75px ;
 
}
.howwork-leaf {
 background: url(../img/icons/leaf.png) no-repeat;
}
.howwork-powder {
 background: url(../img/icons/powder.png) no-repeat;
}
.howwork-fork {
  background: url(../img/icons/fork.png) no-repeat;
}
.howwork-clock {
  background: url(../img/icons/clock.png) no-repeat;
}
.example {
  padding: 27px 20px 30px;
  background: #EAEAEA;
}
.example__logo {
  font-weight: 400;
font-size: 36px;
line-height: 40px;
padding-bottom: 33px;
}
.example__text {
  font-family: 'Font Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 25px;
}
.example__banners {
  /* position: relative; */
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}
.example__banners-joint {
  position: relative;
  width: 124px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #CDCDCD;
}

.example__banners-text {
  position: absolute;
  top: 47px;
  width: 60px;
  left: 22px;
  font-family: 'Font Arial';
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding: 0 10px;
  background: #EAEAEA;
  z-index: 4;
}
.example__cena {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: url(../img/before-mobilecat.png) no-repeat center;
 
}
.example__cena-logo {
  display: flex;
  justify-content: center;
  padding: 34px 0 0;
}
.example__cena-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 300px 38px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.example__cena-panel-img {
  display: none;
}
.example__cena-button {
  width: 84px;
  height: 14px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  position: relative;

}
.example__cena-button::before {
  position: absolute;
  top: 4px;
  left: 4px;
  content: '';
  width: 35px;
  height: 6px;
  background: #68B738;
  border-radius: 6px;
}
.place__cards {
  display: flex;
  padding: 28px 19px 22px;
}
.place__cards-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.place__cards-adres {
  font-family: 'Font Arial';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.place__map-tablet {
  display: none;
}
.footer {
  background: #F2F2F2;
 
}
.footer__logo {
  display: flex;
  justify-content: center;
  padding: 40px 0 32px;
  margin: 0 20px;
  border-bottom: 1px solid #D9D9D9;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 25px 73px;
  border-bottom: 1px solid #D9D9D9;
}
.vk__tablet {
  display: none;
}
.inst__tablet {
  display: none;
}
.fb__tablet {
  display: none;
}
.footer__logotype {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  margin: 0 20px;

}

@media (min-width: 768px) {
  .header__main {
    padding: 42px 30px 10px;
  }
  .header__main--burger {
    background: none;
    width: 100%;
   display: flex;
   justify-content: space-between;
  

  }
  .header__main--minilogo-mobile {
    display: none;
  }
  .header__main--minilogo-tablet {
    display: block;
    padding-right: 94px;
  }
  .header__main--burger a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    
  }
  .header__main--logo {
    display: none;
  }
  .banner {
    color: black;
    background: none;
  }
  .banner__main {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 62px 230px 41px 117px;
  }
  .banner__img-mobile {
    display: none;
  }
  .banner__img-tablet {
    display: block;
  }
  .tagline {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 0 20px 118px;
  }
  .button__wrap {
    background: url(../img/index-can-tablet.png) no-repeat;
    width: 710px;
    height: 610px;
  }
  .button {
    margin: 0;
    justify-content: start;
   
  }
  .button button {
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    padding: 23px 26px;
    margin: 30px 0 0 90px;
  }
  .cards__weighloss {
    margin: 0 30px 30px;
    padding: 77px 0 57px 53px;
  }
  .cards__weighloss--logo {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }
  .cards__weighloss--logo h2 {
    padding: 0;
  }
  .cards__weighloss--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 24px 270px 52px 0;
  }
  .cards__weighloss--logo::before {
    display: none;
  }
  .cards__weighloss--logo::after {
    content: '';
    background: url(../img/cat_back-tablet.png) no-repeat;
    position: absolute;
    top: 0;
    right: 60px;
    width: 200px;
    height: 230px;
  }
  .cardsmass::after {
    background: url(../img/cat_backi-tablet.png) no-repeat;
    width: 270px;
    right: 32px;

  }
  .howwork {
    padding: 15px 0 0;
  }
  .howwork__punkts {
    padding:  0 30px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #E6E6E6;
  }
  .howwork__logo {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px 72px;
  }
  .howwork__punkts--text {
    padding: 110px 130px 130px 0;
    width: 210px;
    position: relative;
    
  }
  .howwork-leaf {
    background: url(../img/icons/leaf-tablet.png) no-repeat;
   }
   .howwork-leaf::after {
    content: '';
    background: url(../img/icons/one.png) no-repeat;
    width: 112px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -2;
   }
   
   .howwork-powder {
    background: url(../img/icons/powder-tablet.png) no-repeat;
   }
   .howwork-fork {
     background: url(../img/icons/fork-tablet.png) no-repeat;
   }
   .howwork-fork::after {
    content: '';
    background: url(../img/icons/three.png) no-repeat;
    width: 112px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -2;
   }
   .howwork-powder::after {
    content: '';
    background: url(../img/icons/two.png) no-repeat;
    width: 112px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -2;
   }
   .howwork-clock {
     background: url(../img/icons/clock-tablet.png) no-repeat;
   }
   .howwork-clock::after {
    content: '';
    background: url(../img/icons/four.png) no-repeat;
    width: 112px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 35%;
    z-index: -2;
   }
   .example {
    padding: 0;
    background: white;
   }
   .example__cena-logo {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding-top: 15px;
    width: 170px;
    text-align: right;
   }
   .example__logo {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 43px 30px 62px;
   }
   .example__cena {
    background: #EAEAEA;
   }
   .example__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px 52px;
   }
   .example__banners {
    justify-content: start;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
   }
   .example__banners-joint {
    width: 162px;
    height: 72px;
    margin-right: 30px;
   }
   .example__banners-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 118px;
    top: 64px;
    left: 21px;
    padding: 0;
    background-color: white;
   }
   .example__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 250px;
   }
   .example__cena-panel {
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    padding-top: 376px;
   }
   .example__cena-panel-img {
    display: flex;
    position: absolute;
   }
   .example__cena-button {
    width: 428px;
    height: 6px;
    background: #DCDCDC;
    border-radius: 6px;
   }
   .example__cena-panel-circle {
    width: 34px;
    height: 34px;
    border: 1px solid #CDCDCD;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: -14px;
    left: 203px;
   }
   .example__cena-button::before {
    display: none;
  }
  .example__cena-panel-circle::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .place__cards {
    justify-content: space-between;
    padding: 62px 72px 52px;
  }
  .place__cards-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    width: 173px;
  }
  .place__cards-adres {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: right;
  }
  .place__map-mobile {
    display: none;
  }
  .place__map-tablet {
    display: block;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer__social {
    padding: 30px 0 20px;
    align-items: center;
  }
  .vk__tablet {
    display:block;
  }
  .inst__tablet {
    display: block;
  }
  .fb__tablet {
    display: block;
  }
  .vk__mobile {
    display: none;
  }
  .inst__mobile {
    display: none;
  }
  .fb__mobile {
    display: none;
  }







}